@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --cinza: #0d0d0def;
    --azul: #476C9B;
    --lilas: #DC6ACF;
    --roxo: #52154E;
    --vermelho: #C42021;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/catalogofundo.png);
    background-repeat: repeat;
    background-color: #ffffff;
}

header{
    width: 100%;
    height: 20%;
    position: fixed;
    background-color: #0d0d0def;
}

main{
    padding: 130px 0 0 0;
    flex-wrap: wrap;
    background-color: #000000;
    width: 80%;
    margin: auto;
    box-shadow: 2px 2px 10px #000000;

}

footer{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.tituloPrincipal{
    height: 80%;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0 0 0 120px;
    align-items: center;
    justify-content: start;
}
.nav > li > a{
    padding: 5px 15px 15px 15px;
}
#cadastro > li > :nth-child(1){
    padding: 5px 15px 15px 5px;
}

div > nav > a{
    padding: 5px 15px 15px 15px;
}

h1, h2, h3{
    color: #ffffff;
    margin: 0 0 20px 0;
}

p{
    color: #ffffff;
    padding: 0 20px 0 20px;
    font-size: 14px;
    text-align: justify;
    text-indent: 30px;
}

a{
    color: var(--roxo);
    text-decoration: none;
    
}

a:hover{
    color: var(--lilas);
}

.tituloSecundario{
    padding: 20px 0 0 20px;
}

.video{
    height: 55%;
    margin: auto;
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: center;
}

.conteudo img{
    width: 15%;
    height: 15%;
}

#imagens{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
}

.conteudo{
    padding: 0 0 0 20px;
}

#submenu{
    display: block;
}

#submenu > li:nth-child(2){
    position: absolute;
    background-color: #0d0d0def;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 5px 10px 5px;
    border-radius: 0px 0px 5px 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
    transition-delay: 0.2s;
}

#submenu:hover > li:nth-child(2){
    display: block;
    opacity: 1;
    transform: translateY(0px);
}

label{
    color: #ffffff;
}

input{
    border-radius: 10px;
}

fieldset > *{
    display: block;
}

fieldset{
    padding: 20px;
    border: 2px var(--vermelho) solid;
}
menu > li{
    padding: 10px;
}

.modo-negativo {
    filter: invert(1) hue-rotate(180deg);
}
.botao{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 5%;
    background-color: #f8f9fa; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    border-radius: 5px;
}
.botao > *{
    border-radius: 5px;
}